@import url("https://fonts.googleapis.com/css?family=Titillium+Web:300,400,700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

body {
  background-color: #87509c;
}

/* Container */

.container {
  width: 100%;
  max-width: 1038px;

  margin-left: auto;
  margin-right: auto;
}

/* Header */

.header {
  padding-top: 57px;
}

/* Navigation */

.nav {
  font-weight: 400;

  text-transform: uppercase;
  float: right;

  color: #ffffff;
}

.nav_link {
  margin-left: 27px;
  display: inline-block;

  text-decoration: none;
  text-align: center;
  color: #ffffff;
}

.nav_link::after {
  padding: 10px 20px;
  cursor: pointer;
  border: 1px solid #643a79;
}

.nav_link:hover {
  /* color: #000000; */
}

.nav_link:hover,
::after {
  opacity: 0, 5;
}
