@import url("https://fonts.googleapis.com/css?family=Titillium+Web:300,400,700&display=swap");

:root {
  --headerСolor: #87509c;
  --orange: #eb7d4b;
  --magenta: #643a79;
  --presentationTitle: #f7f3ea;
  --sectionService: #17c2a4;
  --teamColor: #e7f1f8;
  --teamTitle: #27283d;
  --teamSubtitle: #30bae7;
  --teamDescription: #3c4761;
  --sectionPortfolio: #ffdd99;
  --portfolioTitle: #393939;
  --sectionTestimonials: #d74680;
  --sectionCommunication: #3c5499;
  --formControl: #273a71;
  --footerColor: #344b8e;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

body {
  margin: 0;
  font-family: "Titillium Web";
  font-size: 16px;

  line-height: 1.2;
}

/* Container */

.container {
  width: 100%;
  max-width: 1038px;

  margin-left: auto;
  margin-right: auto;
}

/* Header */

.header {
  padding-top: 57px;
  background-color: var(--headerСolor);
}

.header_logo {
  width: 117px;
  height: 37px;
}

/* Navigation */

.nav {
  font-weight: 400;

  line-height: 24px;
  text-transform: uppercase;
  float: right;

  color: white;
}

.nav_link {
  padding: 8px 16px;
  margin-left: 2px;
  border-radius: 4px;

  display: inline-block;
  vertical-align: top;
  position: relative;

  text-decoration: none;
  color: white;
}

.nav_link:hover {
  background-color: var(--magenta);
}

/* Presentation */

.section_presentation {
  padding-top: 145px;
  padding-bottom: 145px;
  text-align: center;

  background-color: var(--headerСolor);
}

.section_presentation_title {
  margin: 0 auto 54px;
  display: block;
  max-width: 906px;
  font-size: 42px;
  font-weight: 700;

  text-align: center;
  color: var(--presentationTitle);
}

.button {
  border: none;
  padding: 28px 81px;

  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;

  border-radius: 4px;
  background-color: var(--orange);
  color: white;

  cursor: pointer;
}

/* Grid */

.row {
  margin-left: -30px;
  margin-right: -30px;
}

.row::before,
.row::after {
  content: "";
  display: table;
}

.row:after {
  clear: both;
}

.col {
  padding-left: 30px;
  padding-right: 30px;

  float: left;
}

.col_50 {
  width: 50%;
}

.col_25 {
  width: 25%;
}

/* Services */

.service {
  text-align: center;
  color: white;
}

.service img {
  margin-bottom: 60px;
}

.service h3 {
  text-transform: uppercase;
}

.service p {
  line-height: 24px;
}

.section_services {
  padding: 119px 0;
  background-color: var(--sectionService);
}

.section_services_title {
  position: relative;
  padding-bottom: 21px;
  font-size: 40px;
  font-weight: 700;

  text-transform: uppercase;
  text-align: center;
  color: white;
}

.section_services_title::after {
  content: "";
  position: absolute;
  display: block;
  width: 88px;
  height: 4px;
  bottom: 0;

  background-color: black;
  opacity: 0.15;

  left: 50%;
  margin-left: -44px;
}

.section_services_subtitle {
  padding-bottom: 50px;
  margin-right: auto;
  margin-left: auto;
  font-size: 18px;
  font-weight: 400;
  width: 603px;

  color: white;
  text-align: center;
}

/* Team */
.team {
  text-align: center;
}

.team_title {
  padding-top: 41px;
  padding-bottom: 15px;

  font-size: 24px;
  font-weight: 700;

  text-transform: uppercase;
  color: var(--teamTitle);
}

.team_subtitle {
  font-size: 16px;
  font-weight: 400;

  color: var(--teamSubtitle);
}

.team_description {
  padding-bottom: 18px;
  font-size: 16px;
  font-weight: 300;

  color: var(--teamDescription);
  line-height: 24px;
}

.team_social a {
  text-decoration: none;
}

.section_team {
  padding: 119px 0;
  background-color: var(--teamColor);
}

.section_team_title {
  padding-bottom: 24px;
  position: relative;

  font-size: 41px;
  font-weight: 700;

  text-transform: uppercase;
  text-align: center;
  color: var(--teamDescription);
}

.section_team_title::after {
  content: "";
  position: absolute;
  display: block;
  width: 88px;
  height: 4px;
  bottom: 0;

  background-color: black;
  opacity: 0.15;

  left: 50%;
  margin-left: -44px;
}

.section_team_subtitle {
  padding-bottom: 74px;
  margin-left: auto;
  margin-right: auto;

  font-size: 19px;
  font-weight: 400;
  width: 654px;

  color: var(--teamDescription);
}

/* Skils */

.section_skills {
  padding: 119px 0;
  background-color: white;
}

.section_skills_title {
  padding-bottom: 21px;

  font-size: 40px;
  font-weight: 700;
  position: relative;

  text-transform: uppercase;
  text-align: center;
  color: var(--teamDescription);
}

.section_skills_title::after {
  content: "";
  position: absolute;
  display: block;
  width: 88px;
  height: 4px;
  bottom: 0;

  background-color: black;
  opacity: 0.15;

  left: 50%;
  margin-left: -44px;
}

.section_skills_subtitle {
  padding-bottom: 84px;
  font-size: 18px;
  font-weight: 400;
  width: 568px;
  margin-left: auto;
  margin-right: auto;

  text-align: center;
  color: var(--teamDescription);
}

/*  Portfolio */

.section_portfolio {
  padding: 119px 0;
  background-color: var(--sectionPortfolio);
  text-align: center;
}

.section_portfolio_title {
  padding-bottom: 21px;

  font-size: 40px;
  font-weight: 700;
  position: relative;

  text-transform: uppercase;
  color: var(--portfolioTitle);
}

.section_portfolio_title::after {
  content: "";
  position: absolute;
  display: block;
  width: 88px;
  height: 4px;
  bottom: 0;

  background-color: black;
  opacity: 0.15;

  left: 50%;
  margin-left: -44px;
}

.section_portfolio_subtitle {
  padding-bottom: 42px;
  font-size: 18px;
  font-weight: 400;
  width: 515px;
  margin-left: auto;
  margin-right: auto;

  line-height: 26px;
  color: var(--portfolioTitle);
}

.section_portfolio_button {
  padding-bottom: 62px;
}

.portfolio_button_group {
  border: none;
  padding: 12px 27px;
  border-radius: 4px;

  background-color: rgba(0, 0, 0, 0.1);
  color: black;

  display: inline-block;
  vertical-align: top;

  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;

  cursor: pointer;
}

.portfolio_button_group:hover {
  background-color: white;
}

.portfolio {
  text-align: center;
  padding-bottom: 62px;
}

.portfolio_title {
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
}

.portfolio_img {
  padding-bottom: 32px;
}

.portfolio_button {
  background-color: var(--sectionService);
}

/* Testimonials */

.section_testimonials {
  padding: 119px 0;
  background-color: var(--sectionTestimonials);
}

.section_testimonials_title {
  padding-bottom: 21px;
  font-size: 40px;

  font-weight: 700;
  width: 606px;
  margin-left: auto;
  margin-right: auto;
  position: relative;

  text-transform: uppercase;
  text-align: center;
  color: white;
}

.section_testimonials_title::after {
  content: "";
  position: absolute;
  display: block;
  width: 88px;
  height: 4px;
  bottom: 0;

  background-color: black;
  opacity: 0.15;

  left: 50%;
  margin-left: -44px;
}

.section_testimonials_subtitle {
  padding-bottom: 61px;
  font-size: 18px;
  font-weight: 400;

  text-align: center;
  color: white;
}

.testimonials_description {
  font-size: 21px;
  font-style: italic;

  color: white;
}

.testimonials_people {
  font-size: 24px;
  font-weight: 700;

  text-transform: uppercase;
  color: white;
}

.testimonials_people_position {
  font-size: 18px;
  font-weight: 400;

  color: var(--sectionPortfolio);
}

.testimonials {
  padding-bottom: 128px;
  position: relative;
  min-height: 96px;
}

.testimonials_img {
  position: absolute;
}

.testimonials_body {
  margin-left: 144px;
}

/* Communication */

.section_communication {
  padding: 120px 0;

  background-color: var(--sectionCommunication);

  text-align: center;
}

.section_communication_title {
  padding-bottom: 21px;
  font-size: 40px;
  font-weight: 700;
  position: relative;
  width: 286px;
  margin-left: auto;
  margin-right: auto;

  text-transform: uppercase;
  text-align: center;
  color: white;
}

.section_communication_title::after {
  content: "";
  position: absolute;
  display: block;
  width: 88px;
  height: 4px;
  bottom: 0;

  background-color: black;
  opacity: 0.15;

  left: 50%;
  margin-left: -44px;
}

.section_communication_subtitle {
  padding-bottom: 76px;
  font-size: 18px;
  font-weight: 400;

  text-align: center;
  color: white;
}

.form_communication_button {
  background-color: var(--teamSubtitle);
}

.form_group {
  margin-bottom: 27px;
}

.form_control {
  padding: 22px 25px;

  width: 100%;

  background-color: var(--formControl);
  font-size: 18px;
  font-weight: 400;
  color: white;
}

.form_button_group {
  padding-top: 32px;
}

/* Footer */

.footer {
  padding-top: 48px;

  width: 100%;
  height: 112px;

  background-color: var(--footerColor);
  text-align: center;

  font-size: 24px;
  font-weight: 400;
}

.footer_social {
  margin-right: 57px;
  width: 100%;

  text-decoration: none;
  color: white;
}

.footer_social:last-child {
  margin-right: 0;
}

.footer_social:hover {
  color: var(--teamSubtitle);
}
